.header__logo {
    display: inline-block;
    font-size: size(lg);
    color: #fff;
    position: absolute;
    top: 5%;
    left: 4%;

    &--text{
        display: block;
        text-transform: uppercase;
        font-size: size(xsm)
    }
}

.btn {
    transition: all 0.3s;
    @include anchorTag;

    &:hover {
        box-shadow: 0px 10px 20px rgba(#000, 0.2);
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 5px 10px rgba(#000, 0.2);
    }
}

.btn--primary {
    position: relative;
    display: inline-block;
    font-size: size(xsm);
    padding: 1.5rem 3rem;
    border-radius: 50px;
    margin-top: size(xl);
    text-transform: uppercase;
    color: lighten($color: #000000, $amount: 30%);

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 50px;
        transition: all 0.3s ease-out;
    }
}

.btn--primary:hover::after {
    transform: scaleX(1.2) scaleY(1.8);
    opacity: 0;
}

.btn--secondary {
    color: color(light_green);
    font-size: size(xsm) + 0.2;
    border-radius: 0.2rem;
    padding: 1rem 0.5rem;
    display: inline-block;
    border-bottom: 1.5px solid color(light_green);

    &:hover {
        background-color: color(light_green);
        color: color(gray_white);
    }
}

.heading--tertiary {
    font-size: size(xsm) + 0.2;
    color: color(gray_light);
    margin-bottom: size(xsm);
    text-transform: uppercase;
}

.heading--secondary {
    font-size: size(md);
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    @include gradientColor;
    transition: all 0.3s;

    &:hover {
        transform: skew(10deg, 5deg) scale(1.06);
    }
}

.paragraph--primary {
    color: color(gray_light);
    margin-bottom: size(xsm);
    font-size: size(xsm) - 0.2;
}

.feature__icon {
    display: inline-block;
    font-size: 4.8rem;
    margin: 2rem auto;
    @include gradientColor;
}

.btn--green {
    background-color: #28b485;
    color: #fff;
    &::after {
        background: color(dark_green);
    }
}

.btn--white {
    background-color: #fff;
    &::after {
        background: #fff;
    }
}

.text__center {
    text-align: center;
}

.home__btn--animation {
    animation: btn_anima 2s ease-in-out 0.75s backwards;
}

