@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include responsive(tab-land){   
        font-size:  56.25%;  // 9px
    }
    @include responsive(tab-port){ 
        font-size:  50%;    // 8px
    }
    @include responsive(phone-land){
        font-size:  43.75%;  // 7px
    }
}

body {
    font-family: 'Lato', sans-serif;
    padding: 1rem;
    letter-spacing: 1.5px;

    @include responsive(phone-port){
        padding: 0;
    }
}
